*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
  width: 100%;
  position: fixed;
  z-index: 9998;
}

div.scrollmenucontent {
	float:right;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: right;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
/* Style the search box inside the navigation bar */
.scrollmenu input[type=text] {
  padding: 6px 10px;
  border: none;
  margin-top: 8px;
  margin-left: 20px;
  font-size: 17px;
}
#searchicon {
  margin-top: 8px;
  margin-right: 16px;
  display: inline-block;
  width: 35px; /* Set the width of the icon */
  height: 35px; /* Set the height of the icon */
  color: #333; /* Set the color of the icon */
  cursor: pointer; /* Change cursor to pointer on hover for better UX */
}

.searchbar{
	display: inline-block;
}

body{
	background-color: #1493b6;
}

.app{
	background-color: #fff;
	width: 90%;
	max-width: 600px;
	margin: 100px auto 0;
	border-radius: 10px;
	padding: 30px;
}

.app h1{
	font-size: 25px;
	color: #001e4d;
	font-weight: 600
	border: 1px solid #333;
	padding-bottom: 30px;
	border-bottom: 1px solid #333;
}

.quiz{
	padding: 20px 0;
}

.quiz h2{
	font-size: 18px;
	color: #001e4d;
	font-weight: 600;
}

.btn{
	background: #fff;
	color: #222;
	font-weight: 500;
	width: 100%;
	border: 1px solid #222;
	padding: 10px;
	margin: 10px 0;
	text-align: left;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s;
}

.btn:hover:not([disabled]){
	background-color:  #222;
	color: white;
}

.btn:disabled{
	cursor: no-drop;
}

#next{
	background-color: #001e4d;
	color: #fff;
	font-weight: 500;
	width: 150px;
	border: 0;
	padding: 10px;
	margin: 20px auto 0;
	border-radius: 4px;
	cursor: pointer;
	display: none;
}

.correct{
	background-color: #9aeabc;
}

.incorrect{
	background-color: #ff9393;
}

